body{
    background-image:url(../img/fundoo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
.logo{
    width: 6%;
    opacity: 2;
}
header{
    background-color: #fa4b1657; 
    padding: 3%;
}
nav{
    background-color: #ff000079;
}
main{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    background-color: #fa711681;
}
footer{
    background-color: #fa211667;
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;   
}
.titulos {
    line-height: 3;
}
p{
    font-family: "Libre Franklin", sans-serif; 
    line-height: 1.5;
    font-weight: 500
}
ul,li{
    line-height: 1.5;
    font-size: 1.2em
}
h1{
    font-size: 2em;
    text-align: center;
}
h2{
    font-size: 1.5em;
    text-align: center;
}
ul{
    text-align: center;
}

h1,h2{
    font-family: "DM Sans", sans-serif;
    font-weight: 700
}
.tabela{
    line-height: 1.5;
    display:flex;
    align-items: center;
    margin-left: 35%;
    font-size: 150%;
}
.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}
.col-3{
    width: 25%;   
}
.imggaleria{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}