body{
    background-image:url(../img/fundo4.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}
header{
    background-color: #9AD8E9;
    padding: 3%;
}
.logo{
    width: 6%;
}
nav{
    background-color: #6CEBD1;
}
main{
    background-color: #FFFFFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    background-color: aqua;
}
footer{
    background-color: #FFFFFF;
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;   
}
.titulos {
    line-height: 3;
}
p{
    line-height: 1.5
    
}
ul,li{
    line-height: 1.5;
    font-size: 1.2em
}
h1{
    font-size: 2em;
    text-align: center;
}
h2{
    font-size: 1.5em;
    text-align: center;
}
ul{
    text-align: center;
}