.color1 {color: #f32944;}
.color2 {color: #f7782f;}
.color3 {color: #fec153;}
.color4 {color: #ffff9a;}
.color5 {color: #f9ffdd;}

body{
    background-color: #ffff9a;
}

header,footer{
    background-color: #fec153;
    text-align: center;
}
footer{
    padding: 3%;
}
.imglogo{
    width: 6%;
}
a:hover, a{
    color: #000000;
    text-decoration: none;
}
section{
    text-align: justify;
    text-indent: 1%;
    padding: 2%;
    background-color: #f7782f;
    margin-top: 1%;
    margin-bottom: 1%;
    line-height: 1.2em;
}
.imgbola{
    width: 18%;
    float: right;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

h2{
    color: #000000;
    font-size: 1.4em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}
.col-3{
    width: 25%;   
}
.imggaleria{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid black;
    text-align: center;
  }
  td{
    font-weight:bold;
  }
  table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
  }